/* line 1, ../sass/main.scss */
body {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

/* line 8, ../sass/main.scss */
.main-navbar > .header-container {
  background: #ebebeb;
}
/* line 11, ../sass/main.scss */
.main-navbar .navbar-brand {
  height: auto;
  padding: 0 5px;
}
/* line 18, ../sass/main.scss */
.main-navbar .navbar-nav li {
  margin: 27px 0;
}
/* line 20, ../sass/main.scss */
.main-navbar .navbar-nav li a {
  margin: 0 10px;
  padding: 7px 0;
  border-bottom: 1px solid transparent;
  transition: all 0.4s ease-in-out 0s;
  font-size: 14px;
  color: #000000;
  font-weight: 500;
  text-transform: uppercase;
}
.nav>li>a:focus, .nav>li>a:hover {
  background: transparent;
  color: #dcb925;
}
/* line 29, ../sass/main.scss */
.main-navbar .navbar-nav li a:hover {
  border-color: #dcb925;
}
/* line 34, ../sass/main.scss */
.main-navbar .navbar-nav li.current-menu-item a {
  color: #dcb925;
  border-color: #dcb925;
}

/* line 44, ../sass/main.scss */
.phoenix-slider .container-slider {
  padding: 0px;
}

/* line 51, ../sass/main.scss */
.check-domain .container-domain {
  background: #fff6d3;
}
/* line 53, ../sass/main.scss */
.check-domain .container-domain h2 {
  color: #4f4e4e;
  font-size: 22px;
  text-transform: uppercase;
  font-weight: 500;
}
/* line 59, ../sass/main.scss */
.check-domain .container-domain .title-check {
  margin: 65px 0 25px;
}
/* line 63, ../sass/main.scss */
.check-domain .container-domain .dot-name {
  margin-bottom: 5px;
  padding-left: 10px;
}
/* line 66, ../sass/main.scss */
.check-domain .container-domain .dot-name span {
  color: #3e3e3e;
  font-size: 19px;
  font-style: italic;
  font-weight: 300;
  padding: 0 5px;
}
/* line 75, ../sass/main.scss */
.check-domain .container-domain .box-search {
  margin-bottom: 70px;
}
.check-domain .container-domain .box-search #result {
  margin-top: 20px;
}
.check-domain .container-domain .box-search #result .alert {
  margin-bottom: 10px;
}
/* line 77, ../sass/main.scss */
.check-domain .container-domain .box-search .form-control {
  height: 40px;
  width: 420px;
}
/* line 81, ../sass/main.scss */
.check-domain .container-domain .box-search .btn-search {
  line-height: 36px;
  border: 1px solid #db0000;
  padding: 0 15px;
  background: #db0000;
  margin-left: 7px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  transition: all 0.4s ease-in-out 0s;
  font-size: 16px;
}
/* line 92, ../sass/main.scss */
.check-domain .container-domain .box-search .btn-search i {
  margin-right: 8px;
}
/* line 95, ../sass/main.scss */
.check-domain .container-domain .box-search .btn-search:hover {
  background: rgba(219, 0, 0, 0.7);
}

/* line 105, ../sass/main.scss */
.content-title {
  margin-top: 40px;
}
/* line 107, ../sass/main.scss */
.content-title h2 {
  color: #474747;
  font-size: 22px;
  text-transform: uppercase;
  text-align: center;
}
/* line 112, ../sass/main.scss */
.content-title h2:after {
  content: "";
  height: 23px;
  background: url("../images/line.png") no-repeat center center;
  display: block;
  margin-top: 10px;
}
/* line 122, ../sass/main.scss */
.content-demo .demo {
  margin: 53px 0 87px;
}
/* line 124, ../sass/main.scss */
.content-demo .demo .fix-guiter {
  padding: 0 7.5px;
}
/* line 127, ../sass/main.scss */
.content-demo .demo .card {
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.18);
  overflow: hidden;
  margin-bottom: 30px;
}
/* line 132, ../sass/main.scss */
.content-demo .demo .card-img {
  display: block;
  text-align: center;
  position: relative;
  transition: all 0.4s ease-in-out 0s;
}
/* line 137, ../sass/main.scss */
.content-demo .demo .card-img .overlay-images {
  bottom: 0;
  left: 0;
  opacity: 0;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  transition: all 0.3s linear 0ms;
  visibility: hidden;
  background: rgba(0, 0, 0, 0.75);
}
/* line 148, ../sass/main.scss */
.content-demo .demo .card-img .overlay-images .preset {
  margin-top: 20%;
  transition: all 0.4s ease-in 0s;
}
/* line 152, ../sass/main.scss */
.content-demo .demo .card-img .overlay-images .info {
  font-size: 19px;
  font-weight: 700;
  color: #ffffff;
}
/* line 156, ../sass/main.scss */
.content-demo .demo .card-img .overlay-images .info .info-price span {
  color: #f11d1d;
}
/* line 159, ../sass/main.scss */
.content-demo .demo .card-img .overlay-images .info .info-title h3 {
  font-size: 19px;
  font-weight: 700;
  margin-top: 15px;
}
/* line 165, ../sass/main.scss */
.content-demo .demo .card-img .overlay-images .style-btn {
  font-size: 14px;
  line-height: 30px;
  padding: 0 30px;
  border: 1px solid #fbaf5d;
  border-radius: 50px;
  color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  background: #fbaf5d;
  margin-top: 52px;
  transition: all 0.3s linear 0ms;
  outline: none;
}

@media (max-width: 320px) {
  .content-demo .demo .card-img .overlay-images .style-btn.view-link {
    margin-top: 20px;
  }
}
/* line 177, ../sass/main.scss */
.content-demo .demo .card-img .overlay-images .style-btn:hover {
  background: rgba(251, 175, 93, 0);
  color: #fbaf5d;
}
/* line 183, ../sass/main.scss */
.content-demo .demo .card-img:hover .overlay-images {
  background: rgba(0, 0, 0, 0.75);
  visibility: visible;
  opacity: 1;
}
/* line 187, ../sass/main.scss */
.content-demo .demo .card-img:hover .overlay-images .preset {
  margin-top: 35%;
}

/* line 197, ../sass/main.scss */
footer {
  background: black;
  color: #ffffff;
}
/* line 200, ../sass/main.scss */
footer .copyright {
  text-align: center;
  margin-bottom: 25px;
}

footer .copyright a,
footer .copyright p {
  font-size: 12px;
  color: #909090;
}

footer .copyright a {
  font-weight: bold;
}

/* line 206, ../sass/main.scss */
footer .introduction p {
  margin-top: 25px;
}
/* line 212, ../sass/main.scss */
footer .footer {
  margin: 10px 0 40px;
}
/* line 215, ../sass/main.scss */
footer .widgettitle {
  text-transform: uppercase;
  font-size: 17px;
}
/* line 219, ../sass/main.scss */
footer ul li {
  list-style: none;
}
/* line 222, ../sass/main.scss */
footer .list-style {
  padding: 10px 0 0;
}
/* line 224, ../sass/main.scss */
footer .list-style .media-heading {
  margin: 0;
}
/* line 227, ../sass/main.scss */
footer .list-style .media-left {
  padding-bottom: 10px;
}
/* line 230, ../sass/main.scss */
footer .list-style .media-heading a {
  font-size: 15px;
  font-weight: 700;
  color: #ffffff;
}
/* line 234, ../sass/main.scss */
footer .list-style .media-heading a:hover {
  text-decoration: none;
  color: #dba800;
}
/* line 239, ../sass/main.scss */
footer .list-style .description {
  font-size: 12px;
}

/* line 246, ../sass/main.scss */
.scrollup {
  width: 40px;
  height: 40px;
  position: fixed;
  bottom: 50px;
  right: 40px;
  display: none;
  background-color: rgba(219, 168, 0, 0.8);
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}

@media (max-width: 767px) {
  /* line 262, ../sass/main.scss */
  .main-navbar {
    position: fixed;
    width: 100%;
    z-index: 10;
  }
  /* line 266, ../sass/main.scss */
  .main-navbar .navbar-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  }
  /* line 269, ../sass/main.scss */
  .main-navbar > .header-container {
    background: rgba(235, 235, 235, 0.9);
  }
  /* line 271, ../sass/main.scss */
  .main-navbar > .header-container .navbar-header {
    background: #ebebeb;
  }
  /* line 275, ../sass/main.scss */
  .main-navbar .navbar-brand {
    padding: 0;
  }
  /* line 277, ../sass/main.scss */
  .main-navbar .custom-logo-link img {
    height: 55px;
    padding: 5px 0;
    margin-left: 30px;
    width: auto;
  }
  /* line 284, ../sass/main.scss */
  .main-navbar .header-container {
    padding: 0;
  }
  /* line 288, ../sass/main.scss */
  .main-navbar .navbar-toggle {
    margin-right: 30px;
    margin-top: 17px;
  }
  /* line 290, ../sass/main.scss */
  .main-navbar .navbar-toggle .icon-bar {
    background: rgba(0, 0, 0, 0.8);
  }
  /* line 296, ../sass/main.scss */
  .main-navbar .navbar-nav li {
    margin: 10px 0;
    text-align: center;
  }
  /* line 299, ../sass/main.scss */
  .main-navbar .navbar-nav li a {
    border: none;
  }
  /* line 301, ../sass/main.scss */
  .main-navbar .navbar-nav li a:hover {
    color: #db0000;
  }
  /* line 306, ../sass/main.scss */
  .main-navbar .navbar-nav li.current-menu-item a {
    color: #db0000;
  }

  /* line 321, ../sass/main.scss */
  .check-domain .container-domain {
    text-align: center;
  }
  /* line 323, ../sass/main.scss */
  .check-domain .container-domain h2 {
    font-size: 17px;
    font-weight: 500;
    line-height: 1.4;
  }
  /* line 328, ../sass/main.scss */
  .check-domain .container-domain .title-check {
    margin: 13px 0 10px;
  }
  /* line 332, ../sass/main.scss */
  .check-domain .container-domain .dot-name {
    margin-bottom: 5px;
    padding-left: 0px;
  }
  /* line 335, ../sass/main.scss */
  .check-domain .container-domain .dot-name span {
    font-size: 13px;
    padding: 0 2px;
  }
  /* line 341, ../sass/main.scss */
  .check-domain .container-domain .box-search {
    margin-bottom: 20px;
  }
  /* line 343, ../sass/main.scss */
  .check-domain .container-domain .box-search .form-control {
    height: 35px;
    width: 100%;
  }
  /* line 347, ../sass/main.scss */
  .check-domain .container-domain .box-search .btn-search {
    line-height: 30px;
    padding: 0 13px;
    margin-left: 0px;
    font-size: 12px;
  }

  /* line 360, ../sass/main.scss */
  .content-title h2 {
    font-size: 18px;
  }

  /* line 365, ../sass/main.scss */
  .content-demo .demo {
    margin: 40px 0 20px;
  }

  /* line 371, ../sass/main.scss */
  footer .widgettitle {
    font-size: 15px;
  }

  /* line 377, ../sass/main.scss */
  .scrollup {
    bottom: 30px;
    right: 20px;
  }
}
@media (min-width: 768px) and (max-width: 991px) {
  /* line 386, ../sass/main.scss */
  .container-domain {
    text-align: center;
  }

  /* line 396, ../sass/main.scss */
  .content-demo .demo .card-img:hover .overlay-images .preset {
    margin-top: 20%;
  }
}
