/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
    #  Baseline Normalize
    #  Layout
    #  Header
        ##  Logo
        ##  Header right
        ##  Main Navigation & Primary Menu
    #  Content
    #  Widgets
    #  Footer
        ##  Mobile Menu
        ##  Backtop
--------------------------------------------------------------*/

/*--------------------------------------------------------------
#  Baseline Normalize
--------------------------------------------------------------*/
body {
    color: #1f1f1f;
    line-height: 1.6;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #1f1f1f;
    text-decoration: none;
}

a:hover, a:focus {
    text-decoration: none;
}

img {
    vertical-align: middle;
    max-width: 100%;
    height: auto;
}

.mt-0 {
    margin-top: 0;
}

.screen-reader-text, .sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

/*--------------------------------------------------------------
#  Layout
--------------------------------------------------------------*/
.site.boxed {
    margin: 0 auto;
    background: transparent;
}

.site.boxed.w1000 {
	max-width: 1000px;
}

.site.boxed.w1170 {
	max-width: 1170px;
}

.site.boxed.w1200 {
	max-width: 1200px;
}

@media (min-width: 1200px) {
	.container {
	    width: 1170px;
	}

	.site.w1000 .container {
	    width: 1000px;
	}

	.site.w1170 .container {
	    width: 1170px;
	}

	.site.w1200 .container {
	    width: 1200px;
	}
}

#layout {
    padding-top: 10px;
    background: white;
}

.home #layout {
    padding-top: 0;
}

@media (min-width: 992px) {
    .content-area {
        width: 75%;
        float: left;
    }

    .widget-area {
        width: 25%;
        float: left;
    }

    .sidebar-both .content-area {
        width: 60%;
    }

    .sidebar-both .widget-area {
        width: 20%;
    }

    .sidebar-left .content-area {
        left: 25%;
    }

    .sidebar-left .widget-area {
        right: 75%;
    }

    .sidebar-both .content-area {
        left: 20%;
        padding-left: 0;
        padding-right: 0;
    }

    .sidebar-both #secondary-1.widget-area {
        right: 60%;
    }

    .sidebar-right .content-area {
        padding-right: 0;
    }
}

.sidebar-none .widget-area {
    display: none;
}

.no-sidebar .content-area {
    width: 100%;
    padding: 0;
}

.content-area, .widget-area {
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    /*padding-bottom: 20px;*/
    word-wrap: break-word;
}

/*--------------------------------------------------------------
#  Header
--------------------------------------------------------------*/
.site-header {
    background: white;
}

@media ( min-width: 783px ) {
    .admin-bar .main-navigation {
        margin-top: 32px;
    }
}

@media ( min-width: 601px ) and ( max-width: 782px ) {
    .admin-bar .main-navigation {
        margin-top: 46px;
    }
}

.fixed-nav-menu .main-navigation {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.fixed-nav-menu .animated {
  -webkit-animation-duration: .5s;
  -moz-animation-duration: .5s;
  -o-animation-duration: .5s;
  animation-duration: .5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  -o-animation-fill-mode: both;
  animation-fill-mode: both;
  will-change: transform,opacity;
}

.animated.slideDown {
  -webkit-animation-name: slideDown;
  -moz-animation-name: slideDown;
  -o-animation-name: slideDown;
  animation-name: slideDown;
}

.animated.slideUp {
  -webkit-animation-name: slideUp;
  -moz-animation-name: slideUp;
  -o-animation-name: slideUp;
  animation-name: slideUp;
}

@-webkit-keyframes slideDown{
  0% {
    -webkit-transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
  }
}

@-moz-keyframes slideDown{
  0% {
    -moz-transform: translateY(-100%);
  }
  100% {
    -moz-transform: translateY(0);
  }
}

@-o-keyframes slideDown{
  0% {
    -o-transform: translateY(-100%);
  }
  100% {
    -o-transform: translateY(0);
    }
}

@keyframes slideDown{
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0);
  }
}

@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
  }
}

@-moz-keyframes slideUp {
  0% {
    -moz-transform: translateY(0);
  }
  100% {
    -moz-transform: translateY(-100%);
  }
}

@-o-keyframes slideUp {
  0% {
    -o-transform: translateY(0);
  }
  100% {
    -o-transform: translateY(-100%);
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-100%);
  }
}

/*--------------------------------------------------------------
##  Logo
--------------------------------------------------------------*/
.custom-logo-link {
    display: block;
    margin-top: 5px;
    margin-bottom: 6px;
}

/*--------------------------------------------------------------
##  Header Search
--------------------------------------------------------------*/
.header-search .search-form {
    position: relative;
    height: 41px;
}

.header-search .search-form .search-field {
    width: 100%;
    border: none;
    padding: 3px 10px;
    position: absolute;
    border-radius: 30px;
    outline: none;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
    -webkit-transition: all 2.5s ease-in-out;
    transition: all .25s ease-in-out;
}

.header-search .search-form .search-submit {
    border: 0;
    background: transparent;
    color: #b60e15;
    font-weight: 600;
    padding: 3px 10px;
    border-radius: 0 30px 30px 0;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%);
}

@media ( min-width: 1200px ) {
    .has-vertical-mega-menu .header-search.col-lg-1 .search-form .search-field:focus {
        width: 250px;
    }
}

/*--------------------------------------------------------------
##  Main Navigation & Primary Menu
--------------------------------------------------------------*/
@media (min-width: 1200px) {
    .site.boxed .main-navigation .container {
        padding-left: 0;
        padding-right: 0;
    }
}

.main-navigation {
    background: #dd1f27;
}

#primary-menu {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}

#primary-menu li {
    position: relative;
}

#primary-menu > li {
    float: left;
}

#primary-menu > li:not(:last-child) {
    border-right: 1px solid rgba(255, 255, 255, 0.16);
}

#primary-menu li a {
    color: #fff;
    font-size: 15px;
    display: block;
    padding: 8.5px 28px;
    text-transform: uppercase;
    font-weight: 600;
    text-shadow: 1px 1px rgba(80, 80, 80, 0.37);
    transition: all .25s ease-in-out;
}

#primary-menu li a:hover,
#primary-menu li.current-menu-item a {
    color: #fffd79;
}

#primary-menu li ul.sub-menu {
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    background: #484848;
    width: 250px;
    position: absolute;
    left: 250px;
    top: 0;
    padding-left: 0;
    list-style: none;
    z-index: 9999;
    box-shadow: 0 0 3px #8c8c8c;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

#primary-menu li ul.sub-menu li {
  border-bottom: 1px solid #565656;
}

#primary-menu > li > ul.sub-menu {
    left: 0;
    top: auto;
}

#primary-menu li:hover > ul.sub-menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.main-navbar {
    background: white;
    border-bottom: 1px solid #eee;
}

.rt-navbar-toggle {
    background: #fff;
    padding: 0;
    margin: 14px 0;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
}

.rt-navbar-toggle .icon-bar {
    background: black;
    display: block;
    position: relative;
    width: 24px;
    height: 2px;
    border-radius: 1px;
    outline: none;
}

.rt-navbar-toggle .icon-bar + .icon-bar {
    margin-top: 4px;
}

@media (max-width: 1199px) {
    .rt-navbar-toggle {
    	background: transparent;
    }

    .rt-navbar-toggle .icon-bar {
    	background: white;
    }
}

/*--------------------------------------------------------------
#  Vertical Mega Menu
--------------------------------------------------------------*/
.vertical-mega-menu {
    position: relative;
}

.vertical-mega-menu .vertical-mega-menu-title {
    margin-bottom: 0;
    background: #006f94;
    border-radius: 0;
    text-align: left;
    padding: 9.5px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.vertical-mega-menu .vertical-mega-menu-title:after {
    content: "\f039";
    float: right;
    font-family: fontawesome;
    font-weight: 100;
}

.vertical-mega-menu .rt_mega_menu .menu {
    position: absolute;
    z-index: 9999;
    background: white;
    width: calc(100% - 30px);
    border: 1px solid #ccc;
    opacity: 0;
    visibility: hidden;
    margin-top: 30px;
    list-style: none;
    margin-bottom: 0;
    padding: 0;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.home .site:not(.fixed-nav-menu) .vertical-mega-menu .rt_mega_menu .menu,
.vertical-mega-menu .rt_mega_menu:hover .menu {
    opacity: 1;
    visibility: visible;
    margin-top: 0;
}

.vertical-mega-menu .rt_mega_menu .menu ul.sub-menu {
    margin-bottom: 0;
    padding-left: 0;
}

.vertical-mega-menu .rt_mega_menu .menu li {
    list-style: none;
}

.vertical-mega-menu .rt_mega_menu .menu > li {
    border-bottom: 1px solid #eee;
}

.vertical-mega-menu .rt_mega_menu .menu li a {
    display: block;
    padding: 10px;
    color: #333;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu {
    opacity: 0;
    visibility: hidden;
    margin-left: 30px;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.vertical-mega-menu .rt_mega_menu .menu > li:hover > .sub-menu {
    opacity: 1;
    visibility: visible;
    margin-left: 0;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu {
    position: absolute;
    width: 700px;
    left: 100%;
    top: -1px;
    background: white;
    border: 1px solid #ccc;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li {
    padding: 0 10px;
}

.vertical-mega-menu .rt_mega_menu .menu .w3c {
    width: calc(100% / 3);
    float: left;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li a {
    padding-left: 0;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li.w3c > a {
    text-transform: uppercase;
    color: #404040;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    position: relative;
}

.vertical-mega-menu .rt_mega_menu .menu > li > .sub-menu > li.w3c > a:after {
    content: '';
    display: block;
    position: absolute;
    width: 100px;
    height: 1px;
    background: blue;
    bottom: -1px;
    left: 0;
}

@media ( max-width: 1199px ) {
    .vertical-mega-menu .rt_mega_menu {
        display: none;
    }
}

.vertical-mega-menu #mega-menu-toggle {
    float: left;
}

/*--------------------------------------------------------------
#  Search Field
--------------------------------------------------------------*/
.search-form {
    position: relative;
    border: 1px solid #ddd;
}

.search-field {
    width: 100%;
    outline: none;
    padding: 5px 10px;
    border: none;
    width: -webkit-calc(100% - 34px);
    width: -moz-calc(100% - 34px);
    width: -o-calc(100% - 34px);
    width: calc(100% - 34px);
}

button.search-submit {
    border: none;
    background: transparent;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    right: 0;
}

/*--------------------------------------------------------------
#  Content
--------------------------------------------------------------*/
.page .entry-title a,
.single .entry-title a {
    font-size: 30px;
}

.page .entry-title,
.single .entry-title {
    margin-top: 10px;
}

.site-content {
    background: white;
}

@media (max-width: 767px) {
    .site-content {
        padding-top: 68px;
    }
}

.thumbnail-left {
    float: left;
    width: 35%;
    margin-right: 10px;
}

.slider_item {
    outline: none;
}

.slick-slide,
.slick-slide a {
    outline: none;
}

.slick-arrow {
    background: #ccc;
    border: none;
    padding: 0;
    width: 100%;
    height: 20px;
    outline: none;
    position: absolute;
}

.slick-prev {
    top: 50%;
    left: 0;
    width: 20px;
    z-index: 9999;
    height: 20%;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slick-next {
    top: 50%;
    right: 0;
    height: 20%;
    width: 20px;
    -webkit-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    transform: translateY(-50%);
}

.slick-vertical .slick-arrow {
    position: static;
    height: 21.5px;
    width: 100%;
    transform: translate(0);
    display: block !important;
}

.project_view-all {
    display: inline-block;
    width: 150px;
    padding: 10px;
    color: aliceblue;
    font-weight: 600;
    text-transform: uppercase;
    border: 1px solid black;
    background: black;
    -webkit-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
}

.project_view-all:focus,
.project_view-all:hover {
    color: black;
    background: white;
    border: 1px solid black;
}

.pagination {
    display: block;
}

.pagination .nav-links {
    display: table;
    margin: 0 auto;
}

.pagination .page-numbers {
    padding: 5px 10px;
    background: black;
    color: white;
    border-radius: 2px;
    margin: 0 2px;
}

.pagination .page-numbers.current {
    background: #dcb925;
}

.fancybox-caption {
    text-align: center;
}

.sidebar .widget_recent_entries ul {
    list-style-type: square;
    padding-left: 17px;
}

.support-item-phone a {
    color: red;
}

.page-title {
    text-align: center;
    background: url(../images/page-title.jpeg) center top;
    background-attachment: fixed;
    background-size: cover;
    color: white;
    padding: 65px 0;
}

.lienhe #breadcrumbs {
    padding: 10px 15px;
}

.contact_info .contact_icon {
    font-size: 25px;
    margin-bottom: 30px;
}

.contact_info {
    padding: 100px 0;
    color: #777;
}

@media (max-width: 600px) {
    .page-title {
        padding: 30px;
    }

    .page-title .heading {
        font-size: 22px;
    }

    .page-title .desc {
        font-size: 12px;
    }

    .contact_info {
        padding: 10px 0;
    }

    .contact_info .contact_icon {
        margin-bottom: 20px;
    }
}

/*--------------------------------------------------------------
#  Front Page
--------------------------------------------------------------*/
#testimonials {
    background: #fff6d3;
    padding: 20px 0 50px 0;
    margin-bottom: 10px;
}

.testimonial {
    margin-top: 50px;
}

.testimonial blockquote {
    color: #303030;
    border: none;
    margin-bottom: 40px;
    font-size: 14px;
    padding: 0;
    position: relative;
    margin: 0 0 25px 70px;
}

blockquote:before, blockquote:after {
    content: "";
}

.testimonial blockquote:before {
    content: '\201c';
    font-family: 'Arial';
    position: absolute;
    left: -76px;
    line-height: 1;
    font-size: 145px;
}

.testimonial .people-info {
    margin-left: 70px;
    margin-bottom: 20px;
}

.testimonial .photo {
    float: left;
    margin-right: 15px;
    width: 60px;
}

.testimonial .photo img {
    vertical-align: top;
    border-radius: 50%;
    width: 100%;
    max-width: 100%;
}

.testimonial .people-text {
    font-size: 12px;
    color: #9B9B9B;
    line-height: 18px;
    font-style: italic;
}

.testimonial .people-text p {
    margin-bottom: 0;
    font-weight: 500;
    font-size: 14px;
    color: black;
    font-family: 'Roboto',sans-serif;
    font-style: initial;
}

/*--------------------------------------------------------------
#  Widgets
--------------------------------------------------------------*/
.widget {
    margin-bottom: 2em;
}

.widget ul {
    padding-left: 0;
    list-style: none;
}

.widget-title {
    background: #231f20;
    color: white;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: 600;
    padding: 12.5px;
    border-left: 5px solid #dcb925;
    text-align: center;
    margin-top: 0;
}

.widget-title a {
    color: white;
}

/*--------------------------------------------------------------
#  Widget Nav Menu
--------------------------------------------------------------*/
.sidebar .widget_nav_menu .menu {
    background: #f9f9f9;
    border-radius: 5px;
    border: 1px solid #ececec;
}

.sidebar .widget_nav_menu .menu li:not(:first-child) {
    border-top: 1px dashed #ccc;
}

.sidebar .widget_nav_menu .menu li a {
    padding: 10px 12px;
    display: block;
    font-weight: 600;
}

/*--------------------------------------------------------------
#  Meta Slider Widget
--------------------------------------------------------------*/
.widget_metaslider_widget:hover a.rslides_nav {
    opacity: 1;
    visibility: visible;
}

a.rslides_nav {
    text-indent: -9999px;
    padding: 0;
    margin-top: 0;
    width: 55px;
    height: 55px;
    background: rgba(5, 128, 193, 0.7);
    opacity: 0;
    visibility: hidden;
    transition: all .25s ease-in-out;
}

a.rslides_nav:after {
    content: '';
    display: block;
}

a.rslides_nav.prev {
    border-radius: 0 5px 5px 0;
}

a.rslides_nav.next {
    border-radius: 5px 0 0 5px;
}

a.rslides_nav:after {
    text-indent: 0;
    content: "";
    font-size: 35px;
    width: 55px;
    height: 55px;
    color: white;
    font-family: fontawesome;
    position: absolute;
    top: 0;
    line-height: 55px;
    text-align: center;
}

a.rslides_nav.prev:after {
    content: "\f104";
}

a.rslides_nav.next:after {
    content: "\f105";
}

/*--------------------------------------------------------------
#  Contact Form 7
--------------------------------------------------------------*/
.wpcf7-form-control:not(.wpcf7-submit) {
    width: 100%;
    border: 1px solid #dcdcdc;
    margin-bottom: 10px;
    padding: 10px;
    outline: none;
}

.wpcf7-submit {
    background: black;
    border: none;
    color: white;
    text-transform: uppercase;
    padding: 10px 40px;
}

.ajax-loader {
    display: none;
}

/*--------------------------------------------------------------
#  Footer
--------------------------------------------------------------*/
.site-footer {
    background: #232323;
}

.site-footer .widget {
    margin-bottom: 0;
}

.site-footer .widget-title {
    background: none;
    text-align: left;
    text-transform: none;
    padding-left: 0;
    padding-bottom: 0;
    margin: 10px 0 10px;
}

.footer_divider {
    background: #333333;
}

.pd-width-1-6 {
    width: 16.666%;
}

.footer_divider .col:nth-child(2n) {
    background: #444444;
}

.footer_divider .col {
    height: 64px;
    float: left;
}

.introduction {
    margin-bottom: 40px;
}

.footer_email p,
.introduction p,
.footer_socials p {
    color: #909090;
}

.footer_menu li a {
    color: #909090;
    border-bottom: 1px solid #4c4c4c;
    display: block;
    padding: 5px 0;
}

.footer_menu li:last-child a {
    border-bottom: none;
}

/* Footer Social */
.footer_socials-title {
    font-size: 17px;
}

.footer_socials-list a {
    font-size: 20px;
    float: left;
    color: white;
    height: 50px;
    width: 45px;
    line-height: 50px;
    text-align: center;
    background: #333335;
    margin-right: 10px;
    transition: all .25s ease-in-out;
}

.footer_socials-list a:hover {
    background: white;
    color: #dcb925;
}
/* Footer Email */
.footer_email form {
    position: relative;
}

.footer_email input[type="email"] {
    display: table-cell;
    width: 100%;
    vertical-align: top;
    padding: 10px;
    margin: 0;
    border: 1px solid #303032;
    outline: none;
    background: #303032;
    color: #909090;
}

.footer_email button {
    background: #2b2b2d;
    padding: 11px 15px;
    border: none;
    position: absolute;
    top: 0;
    right: 0;
}

.bottom-footer a,
.bottom-footer {
    color: #909090;
}

.bottom-footer .widgettitle {
    color: white;
}

.color-orange a {
    color: #dcb925;
}

.error-404 {
    padding: 20px 0;
}

/*--------------------------------------------------------------
##  Mobile Menu
--------------------------------------------------------------*/
.mobile-menu-container,
.vertical-mega-mobile-menu {
    background: black;
    position: fixed;
    width: 250px;
    top: 0;
    bottom: 0;
    left: 0;
    -webkit-transform: translate(-250px);
    -transform: translate(-250px);
    -o-transform: translate(-250px);
    transform: translate(-250px);
    -webkit-transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -o-transition: all .25s ease-in-out;
    transition: all .25s ease-in-out;
    z-index: 999999;
}

.vertical-mega-mobile-menu {
    left: auto;
    right: 0;
     -webkit-transform: translate(250px);
    -transform: translate(250px);
    -o-transform: translate(250px);
    transform: translate(250px);
}

.close-menu {
    background: #dd1f27;
    text-align: center;
    color: white;
    padding: 10px;
    cursor: pointer;
}

.vertical-mega-mobile-menu ul,
.mobile-menu-container ul.mobile-menu {
    padding-left: 0;
    list-style: none;
}

.vertical-mega-mobile-menu ul li,
.mobile-menu-container ul.mobile-menu li {
    position: relative;
}

.vertical-mega-mobile-menu ul li a,
.mobile-menu-container ul.mobile-menu li a {
    border-bottom: 1px solid #212121;
}

.vertical-mega-mobile-menu ul li a,
.mobile-menu-container ul.mobile-menu li a {
    color: white;
    display: block;
    padding: 10px;
}

.vertical-mega-mobile-menu ul li ul.sub-menu,
.mobile-menu-container ul.mobile-menu li ul.sub-menu {
    display: none;
    padding-left: 0;
    list-style: none;
}

.vertical-mega-mobile-menu ul li.active > ul.sub-menu,
.mobile-menu-container ul.mobile-menu li.active > ul.sub-menu {
    background: #3a3a3a;
    display: block;
}

.vertical-mega-mobile-menu-active .vertical-mega-mobile-menu,
.mobile-menu-active .mobile-menu-container {
    -webkit-transform: translate(0);
    -o-transform: translate(0);
    -moz-transform: translate(0);
    transform: translate(0);
}

.vertical-mega-mobile-menu-active .overlay,
.mobile-menu-active .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.15);
}

.menu-item-has-children > i {
  position: absolute;
  right: 0;
  top: 0;
  width: 42px;
  height: 42px;
  background: #2d2d2d;
  cursor: pointer;
}

.vertical-mega-mobile-menu .menu-item-has-children > i.fa:before,
.mobile-menu-container .menu-item-has-children > i.fa:before {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid #a9a9a9;
    content: '';
}

.vertical-mega-mobile-menu .menu-item-has-children.active > i.fa:before,
.mobile-menu-container .menu-item-has-children.active > i.fa:before {
  transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
}

.menu-item-has-children > i:before {
  position: absolute;
  top: 20px;
  left: 15px;
}

.aligncenter {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*--------------------------------------------------------------
##  Backtop
--------------------------------------------------------------*/
#backtotop {
    background: black url(../images/backtop.png);
    position: fixed;
    width: 44px;
    height: 44px;
    bottom: 30px;
    right: 20px;
    z-index: 1;
    border-radius: 50%;
    cursor: pointer;
    z-index: 9999;
}

#backtotop a {
    -webkit-transition: 1s;
    -moz-transition: 1s;
    transition: 1s;
}

#backtotop span {
    border-radius: 50%;
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 60px;
    right: 30px;
    box-shadow: 0 0 10px rgba(0,0,0,.05);
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: url(../images/backtop.png) center no-repeat, #333;
    opacity: .5;
    -webkit-transition: opacity .3s 0s,visibility 0s .3s;
    -moz-transition: opacity .3s 0s,visibility 0s .3s;
    transition: opacity .3s 0s,visibility 0s .3s;
    z-index: 10;
}

#backtotop span:hover {
    opacity: 1;
}

/*--------------------------------------------------------------
##  Backtop
--------------------------------------------------------------*/
.fixed-area .widget_custom_html {
    position: fixed;
    bottom: 0;
    left: 10px;
}

.fixed-area .widget,
.fixed-area .widget_custom_html .widget-title {
    margin-bottom: 0;
}

.fixed-area .widget_custom_html .widget-title {
    cursor: pointer;
    border-radius: 4px 4px 0 0;
}